/* adds the general styles I want */
* {
  background-color: #fefcfb;
  margin: 0;
  padding: 0;
  /* I've learned that by setting box-sizing to border box,
  I make sure that our styling with the box model will respect
   the declared width and height */
  box-sizing: border-box;
}

/* align all elements to the center */

/* scratching out the idea of the typewriter effect for now, as it breaks the text-wrapping stuff
    I would love to be able to apply it in the future though */

/* import and add font styling */
@import url('https://fonts.googleapis.com/css?family=Lucida%20Console:700|Lucida%20Console:400');

body {
  font-family: 'Lucida Console', sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  font-family: 'Lucida Console', sans-serif;
  font-weight: 700;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}